
 .login{
    border:1px solid black;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    padding: 50% 1% 116%;
    background-color: #FF9346; 
    height: 100vh;
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-size:cover;

 }
input{
    width:80%; 
   border-radius: 5px; 
   height: 4vh;
   margin-top: 1vh;
 }
.submit-button{
    background-color:#42A9B6;
    border: none;
    border-radius: 10%;
    padding: 2% 5%;
    margin-top: 1vh;
    color:white;
}

.logo{
    height: 20vh;
    width:40vw;
    margin: 0 auto;
}

a {
    color: #42A9B6
}