<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    ul {
        margin-bottom: 200px;
    }
    ul li {
        margin-bottom: 10px;
    }

    ul li:last-child {
        border: 1px solid red;
        margin-bottom: 50px;
    }

    ul li:nth-child(2n) {
        border: 1px solid green;
    }

    #n1 {
        background: blue;
    }
</style>
<body>
    <ul id="n1">
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugit necessitatibus reiciendis velit at, consequuntur minima quaerat. Voluptatibus culpa mollitia voluptatum delectus eos incidunt enim quia hic tempora, cum excepturi!</li>
        <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
        <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
        <li>Aut praesentium placeat iusto explicabo blanditiis laborum fuga sapiente quis, ab, quasi fugit molestiae, debitis dolorum voluptas iste saepe numquam. Non iure nesciunt expedita eum exercitationem ipsam consequuntur quis voluptatem!</li>
        <li>Pariatur, dolorem incidunt repellat suscipit, sequi, tempora consequuntur omnis tenetur corrupti iusto dolorum optio qui amet in excepturi sint fuga ratione eum! Magnam nihil voluptatum corrupti natus, soluta officiis exercitationem.</li>
    </ul>
    <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugit necessitatibus reiciendis velit at, consequuntur minima quaerat. Voluptatibus culpa mollitia voluptatum delectus eos incidunt enim quia hic tempora, cum excepturi!</li>
            <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
            <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
            <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
            <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
            <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
            <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
            <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
            <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
            <li>Aut praesentium placeat iusto explicabo blanditiis laborum fuga sapiente quis, ab, quasi fugit molestiae, debitis dolorum voluptas iste saepe numquam. Non iure nesciunt expedita eum exercitationem ipsam consequuntur quis voluptatem!</li>
            <li>Pariatur, dolorem incidunt repellat suscipit, sequi, tempora consequuntur omnis tenetur corrupti iusto dolorum optio qui amet in excepturi sint fuga ratione eum! Magnam nihil voluptatum corrupti natus, soluta officiis exercitationem.</li>
        </ul>
        <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugit necessitatibus reiciendis velit at, consequuntur minima quaerat. Voluptatibus culpa mollitia voluptatum delectus eos incidunt enim quia hic tempora, cum excepturi!</li>
                <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
                <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
                <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
                <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
                <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
                <li>Neque doloribus, culpa, unde fugit repellat, velit fugiat non voluptate laborum similique aspernatur eveniet. Quos alias deleniti doloremque voluptatum, dolorem neque animi facere, iusto asperiores consequuntur officiis cupiditate. Veniam, sed.</li>
                <li>Illo, dolorem labore eligendi neque voluptates at quidem sed iusto nulla! Voluptate consequuntur culpa quaerat laboriosam maiores quam mollitia, tempora illum a officia id aspernatur soluta deserunt atque magnam facere.</li>
                <li>Aut praesentium placeat iusto explicabo blanditiis laborum fuga sapiente quis, ab, quasi fugit molestiae, debitis dolorum voluptas iste saepe numquam. Non iure nesciunt expedita eum exercitationem ipsam consequuntur quis voluptatem!</li>
                <li>Pariatur, dolorem incidunt repellat suscipit, sequi, tempora consequuntur omnis tenetur corrupti iusto dolorum optio qui amet in excepturi sint fuga ratione eum! Magnam nihil voluptatum corrupti natus, soluta officiis exercitationem.</li>
                <li>Pariatur, dolorem incidunt repellat suscipit, sequi, tempora consequuntur omnis tenetur corrupti iusto dolorum optio qui amet in excepturi sint fuga ratione eum! Magnam nihil voluptatum corrupti natus, soluta officiis exercitationem.</li>
            </ul>
</body>
</html>