.goOut{
    margin-bottom: 10vh;
}
.delete-profile{
    position:relative;
    top:170px;
    display: flex;
    flex-direction: column;
 }
 
 .card-profile{
     width: 50%;
     margin:0 auto;
     
 } 
 .deleteButton{
     width:40vw;
     margin: 0 auto;
     margin-bottom: 1vh;
     color: white;
    background-color: #877C73;
 }
 p, a, i{
     margin-bottom: 1vh;
 } 

 .go-and-delete{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    position:relative;
    top:40vh;
    color:#877C73;
    padding-top: 6vh;
 }

