.title-shopping-list{
    color:#42A9B6;
    font-size:1.2rem;
}

.buttonAdd{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 20vh 4vh 20vh;
}

.button.is-primary{
    background-color: #42A9B6;
}
