.title-shopping-list{
    color:#877C73;
    font-size:1.2rem;
}

.buttonAdd{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 20vh 4vh 20vh;
}

.button.is-primary{
    background-color: #877C73;
}
.button.is-primary:hover{
    background-color: #53CF59;;
}

.button.is-primary:visited{
    background-color: #877C73;
}
.item-shopping-list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.fa-trash-alt{
    margin-left:1.3vw;
}

.fa-pencil-alt{
    margin-left:1.3vw;
    margin-bottom:0.8vh;
    color:black;
}
.title-my-list{
    display:flex;
    justify-content: center;
    align-items:center;
}
li{
    color:#877C73;
}

.save{
    margin-bottom: 13vh;
}

.list-items{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 auto;
    width: 10em;
}

@media (min-width:700px){
    .save{
        margin-bottom: 20vh;
     }
 }
 