
.login{
    border:1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
    padding: 50% 1% 116%;
    /* background-color: #FF9346; */
    height: 100vh;
    /* animation: move 10s ease infinite; */
}
input{
    width:80%;
    /* border-radius: 10px; */
}
.submit-button{
    background-color:white;
    border: none;
    border-radius: 20%;
    padding: 2% 5%;
    
}

