.search {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.search input{
  margin: 2vh;
  width: 80%;
}

.checkboxKitchen {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 80px;
 
}